<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15206.025740905621!2d75.8985378258464!3d17.673520506522156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc5da7db7a6ebab%3A0xa9a50d1a16c96707!2sSolapur%2C%20Maharashtra%20413001!5e0!3m2!1sen!2sin!4v1624733592730!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>